<!-- <p-editor [(ngModel)]="text" [style]="{'height':'320px','width':'100%'}"></p-editor>

<div class="row">
    <div class="col-sm-1"></div>

    
    <div class="col-sm-1">
        <p-button label="Save" icon="pi pi-check" ></p-button>
    </div>
    <div class="col-sm-1">
        <p-button label="Clear" icon="pi pi-check" ></p-button>
    </div>

    
</div> -->

<form>

    <div class="container">
        <h5><strong>Main Content</strong></h5>
        <div class='row'>
            <div class="col-sm-2 small"><label> Heading</label></div>
            <div class="col-sm-4"> <input class="form-control" type="text" /> </div>
        </div>
        <div class='row'>
            <div class="col-sm-2 small"><label> Content</label></div>
            <div class="col-sm-8"> <textarea class="form-control" type="text"></textarea>
            </div>
        </div>
        <h5>Sub Content</h5>
        <div class='row'>
            <div class="col-sm-2 small"><label> Heading</label></div>
            <div class="col-sm-4"> <input class="form-control" type="text" /> </div>
        </div>
        <div class='row'>
            <div class="col-sm-2 small"><label> Content</label></div>
            <div class="col-sm-8"> <textarea class="form-control" type="text"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm"> <button type="submit" class="btn btn-primary my-1">Save</button></div>

        </div>
    </div>
    
</form>